
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  @media only screen and (min-width: 1440px) {
    .page-container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 20px;
      background: #fff;
    }
  }
  .container {
    width: 80%;
    max-width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: 50px 0px !important;
  }
  .main-content > h3 {
    padding-top: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .main-content > .blog-info {
    width: 100%;
    height: 20px;
    margin: 0;
    margin: 10px 0px !important;
  }
  .main-content > .blog-info > span {
     color: #5d6e73;
  }
  .main-content > .content {
    padding: 20px 0px !important;
    color: #5d6e73;
    line-height: 1.5;
  }
  .main-content__article {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left; 
    max-height: 500px;
    min-height: 500px;
    overflow: hidden; 
    margin: 10px 0;
  }
  .social {
    width: 100%;
    font-size: 2.2rem;
  }
  .divider {
    width: 100%; 
    border-color: rgba(239, 239, 239, 0.3);
  }
  .related {
    margin: 10px 0;
    display: flex;    
  }
  .related > .related-blog {
    margin: 0 10px;
    color: #58add0;
  }
  .related > .related-blog > a:hover {
    text-decoration: underline;
  }
  .like-btn {
    float: right; 
    position: relative;
    top: 8px;
    font-size: 14px;
    color: #58add0;
    border: 1px solid #58add0;
    padding: 7px;
    border-radius: 50%;
  }
</style>
<main class="transaction-page">
    {% include 'menu.html' %}
    {% csrf_token %}
    <section class="inner-wrap">
        <div class="page-container">
          <div class="container main-content">
            <h3>{{blog.title}}</h3>
            <div class="blog-info">
              <span style="font-size: 12px;">{{blog.timestamp}}</span>
              <span style="margin: 0 10px; font-size: 14px; color: #58add0;"> {{blog.author}}</span>
            </div>
            <hr class="divider">
            <div style="margin: 20px auto; width: 75%; max-height: 400px; overflow: hidden">
              <img src="/{{blog.pic}}"/>
            </div>
            <div class="content">{{blog.content}}</div>
            <div class="social">
              <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href="#" data-id='{{blog.id}}' class="like-btn unlike">Like <i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
            <hr class="divider">
            <h5 style="margin-top: 20px;">Relanted Blogs</h5>
            <div class="related">
                {% for rb in related_blogs %}
                  <div class="col-4 related-blog">
                    <a href="/blog/{{rb.0}}" title="{{rb.2}}">{{rb.2}}</a>
                  </div>
                {% endfor %}
            </div>
            <hr class="divider" style="margin-top: 50px;">
            <div>
              <a href="/blog/category/{{blog.category}}">{{blog.category}}</a>
            </div>
          </div>
        </div>
    </section>
</main>
<script>
  $('.related a').truncateTeasers({height: 70});
  $('.like-btn').on('click', function () {
    $('.like-btn > i').hasClass('fa-heart') ? 
    $('.like-btn > i').addClass('fa-heart-o').removeClass('fa-heart') : 
    $('.like-btn > i').removeClass('fa-heart-o').addClass('fa-heart')

    const csrftoken = $("[name=csrfmiddlewaretoken]").val();
          
    $.ajax({
      url: '/blog/',
      type: 'post',
      headers: { "X-CSRFToken": csrftoken },
      data: { id: $(this).data('id'), like: $('.like-btn > i').hasClass('fa-heart') ? true : false },
      success: function (res) {
        console.log(res)
      }, error: function (res) {
        console.log(res)
      }
    })
  })
  
</script>
{% endblock content %}
