
{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}"/>

<main class="transaction-page">
    {% include 'menu.html' %}
    <section class="inner-wrap">
        <div class="page-container">
          <div class="container hero-content">
              <div class="hero-content__img" style="background-image: url({% static 'imgs/Web-Hero-Blog-1.jpg' %});"></div>
          </div>
          <div class="container body-content">
            <div class="main-content">
                {% for blog in blogs %}
                  <div class="main-content__article" id="{{blog.id}}">
                    <img src="/{{blog.pic}}" />
                    <div class="article-inner">
                      <h5 class="article-inner__header">{{blog.title}}</h5>
                      <p>{{blog.content}}</p>
                    </div>
                    <div class="article-bottom">
                      <span style="margin-right: auto; color: #58add0;">{{blog.author}}</span>
                      <span style="margin: 0 5px">
                        <i class="fa fa-heart" style="color: #58add0; margin: 0 5px;"></i>
                        <span style="color: #888;position: relative; top: -1px;">{{blog.visit}}</span>
                      </span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            <div class="side-content">
              <div class="search-field">
                <form action="{% url 'blogs' %}" method="post" class="sampling_form" style="padding: 20px 0; min-width: auto;">
                  {% csrf_token %}
                  <div class="control-group" style="width: 100%;">
                      <div class="controls" style="width: 100%;">
                          <input type="text" name="searchKey" placeholder="Search...">
                      </div>
                  </div>
                </form>
              </div>
              <div class="categories">
                <h5>Categories</h5>
                <hr  class="divider" style="margin: 10px 0;"/>
                <ul>
                  {% for category in categories %}
                    <li><a class="link" href="/blog/category/{{category.id}}">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="writings">
                <h5>What we're writing</h5>
                <hr  class="divider" style="margin: 10px 0;"/>
                <div class="latest-blogs">
                  {% for blog in latest_blogs %}
                    <div class="latest-blog-item">
                      <p href="/blog/{{blog.id}}" id="{{blog.id}}" class="link">{{blog.title}}</p>
                      <p class="timestamp">{{blog.timestamp}}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>
    </section>
</main>
<script>
  $('.article-inner > p').truncateTeasers({height: 50});
  $('.main-content__article').on('click', function () {
    document.location.href = "/blog/" + $(this).attr("id")
  })
</script>
{% endblock content %}
