[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
django-heroku = "*"
django-crispy-forms = "*"
django-next-prev = "*"
django-picklefield= "*"
django-tinymce = "*"
django-widget-tweaks = "*"
numpy = "*"
pandas = "*"
Pillow = "*"

[requires]
python_version = "3.7"
