
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
 	<main class="transaction-page">
    <section class="inner-wrap">
        {% include 'sidebar.html' %}
        <div class="sampling_form">
          
          <form method="POST">
                {% csrf_token %}
              <div class="modal-header" style="margin: 30px; text-align: right">
                <h4 class="modal-title">Report Form</h4>
              </div>
              
              <div class="form-actions">
                <button class="general_btn">Next
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
              </div>
          </form>
        </div>
    </section>
  </main>

  <script>
   
  </script>


{% endblock content %}