{% extends 'base.html' %}


{% load crispy_forms_tags %}


{% block content %}
<style>
.defecient label {
  pointer-events: auto;
}
.defecient .controls {
  display: flex;
}
.defecient .radio:first {
  margin-right: 20px;
}
</style>
<main class="transaction-page">
    <section class="inner-wrap">
        {% include 'sidebar.html' %}
        <div class="sampling_form">
                <form action="" method="post" enctype="multipart/form-data">
                  <div class="modal-header" style="margin-top: 50px">
                      <h4 class="modal-title">Test Of Controls</h4>
                  </div>
                  <div class="sampling_data">
                      <span>Cycle: {{sampling_data.Cycle}}</span>
                      <span>Client: {{samsampling_datapling.Client}}</span>
                      <span>Year: {{sampling_data.Year}}</span>
                  </div>
                  <table>
                    <thead>
                      <tr>
                       <th>{{instance.data }}</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                  {% csrf_token %}
                    {{ form.non_field_errors }}
                        {{ form.defecient.errors }}
                        <div class="defecient"> 
                          {{ form.defecient|as_crispy_field }}
                        </div>
                        {{ form.attachment.errors }}
                        {{ form.attachment|as_crispy_field }}
                        {{ form.remarks.errors }}
                        {{ form.remarks|as_crispy_field }}
                    <div class="control-group" style="margin: 20px 0px;">
                        <input type="submit" value="Save">
                    </div>
                    <div class="modal-footer" style="display: flex; text-align: center;">                    
                            <a class="general_btn"  href="/cycle/{{ the_next.id }}/edit/">Next Sample
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <a class="general_btn" style="margin-left: 25px" href="/cycle/{{ the_prev.id }}/edit/">Previous Sample
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                            </a>                       
                    </div>
                </form>     
             
        </div>
    </section>
</main>
<!-- {{the_next}}
 -->
<!-- {% with next=instance.get_next_by_data %}
    {% if next %}
        <a href="{% url 'TOC_update' id=obj.id %}">next</a>
    {% endif %}
{% endwith %} -->

<!-- {% if the_next %}
<a href="{% url 'TOC_update' the_next.id %}">Next</a>
{% else %}
This is the last film!
{% endif %} -->

{% endblock content %}
